---
import { getStaticPaths, getI18nProps } from '@i18n/helperi18n';


export { getStaticPaths };

interface Props {
  title?: string; 
}

const { lang, t, title } = getI18nProps(Astro.params, 'portfolio');
---

<section>
   <div class="max-w-7xl mx-auto text-center space-y-4">
    <h2>{t("portfolio.heading")}</h2>
    <p class="text-center">{t("portfolio.description")}</p>
  </div>
</section>