/*
|--------------------------------------------------------------------------
| Font
|--------------------------------------------------------------------------
|
*/ 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



/*
|--------------------------------------------------------------------------
| Tailwind Directives
|--------------------------------------------------------------------------
|
| Import TailwindCSS directives and swipe out at build-time with all of
| the styles it generates based on your configured design system.
|
*/ 
@tailwind base;
@tailwind components;
@tailwind utilities;




/*
|--------------------------------------------------------------------------
| Tailwind Layer
|--------------------------------------------------------------------------
|
| Import layer components.
|
*/
@layer components {
    
    .btn{
        @apply py-2 px-4 font-semibold rounded-lg shadow-md;
    }
    
    .btn-primary {
        @apply py-2 px-4 pl-4 bg-primary text-white font-semibold rounded-lg shadow-sm hover:bg-primary-dark hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75;
    }

    .btn-secondary {
        @apply py-2 px-4 pl-4 bg-secondary text-white font-semibold rounded-lg shadow-sm hover:bg-secondary-dark hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-opacity-75;
    }

    .btn-danger {
        @apply py-2 px-4 pl-4 bg-error text-white font-semibold rounded-lg shadow-sm hover:bg-red-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }

    .form-control{
        @apply w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:outline;
    }

    .text-danger{
        @apply text-red-600;
    }

    .border-danger{
        @apply  border border-red-500 rounded-lg;
    }
    


    body {
        @apply bg-gray-500 text-black;
    }

    h1{
        @apply text-3xl text-primary mt-5;
    }

    h2{
        @apply text-2xl text-primary mt-5;
    }

    h3{
        @apply text-xl text-primary mt-5;
    }

    p{
        @apply text-justify mt-5;
    }



    /* Archivo global.css */
    .card {
        @apply shadow border p-4 rounded bg-white;
    }
    
    .card--featured {
        @apply bg-yellow-100 border-yellow-500;
    }
    
    .card__title {
        @apply text-2xl font-bold text-gray-800;
    }
    
    .card__description {
        @apply text-gray-600;
    }
    
    .card__button {
        @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600;
    }
    

    .wave-section {
        position: relative;
        background: linear-gradient(to bottom, #1d3557, #457b9d) no-repeat;
        background-size: cover;
        background-position: top right;
        padding-bottom: 4rem; /* Espacio para el wave */
        border: red solid 2px;
    }
    
    .wave-section::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 250px; /* Ajusta la altura del wave */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,128L80,117.3C160,107,320,85,480,101.3C640,117,800,171,960,192C1120,213,1280,203,1360,197.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
    }


    .div_custom{
        @apply text-center py-16 bg-gradient-to-r from-primary-dark to-secondary text-white p-8 rounded;
    }

    
    .div_custom_h2{
        @apply text-black text-4xl font-bold mb-4;
    }
    .div_custom_p{
        @apply text-2xl;
    }

    
}




